*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.header{
    display:flex;
    justify-content: space-around;
    background-color: #c0392b;
    padding:20px;
    align-items: center;
}

.header h2{
    color:white;
}

.header a{
    text-decoration: none;
    color:white;
    padding:10px;
}

.title{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    padding:40px 50px;
}

h2{
    color:#c0392b;
    text-align: center;
}

.pho-menu{
    display:flex;
    justify-content: center;
    gap:40px;
    padding:50px;
}

.pho img{
    width:298px;
    border-radius: 10px 10px 0px 0px;
}

.pho{
    border:1px solid transparent;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:298px;
}

.name{
    padding:10px;
    font-weight: bold;
    font-size: larger;
}

.price{
    color:#c0392b;
    font-weight: bold;
    font-size: larger;
}

.footer{
    text-align: center;
    background-color:#2c2c2c;
    color:white;
    padding:30px 40px;
}